body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
}


header {
    width: 100%;
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

#logo {
    width: 10vw;
    float: left;
}

header img {
    width: 10vw;
}

ul.nav {
    list-style: none;
    display: flex;
    align-self: center;
    /* margin: 20px auto; */
}

ul.nav li {
    padding: 0 2em;
    font-size: 1em;
}

ul.nav li a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}


ul.nav li a:hover {
    color: rgb(126, 0, 0);
}

.main-container {
    width: 100%;
    height: 90vh;
    float: left;
    background-image: linear-gradient(-90deg, rgb(78, 137, 248), rgb(255, 255, 72));
    ;
    position: relative;

}

.main-container p {
    width: 50%;
    position: absolute;
    top: 25%;
    right: 25%;
    font-size: 2em;
    text-align: center;
}

.icons {
    position: absolute;
    right: 10%;
    bottom: 10%;
}

.icons i {
    font-size: 2em;
    margin: 0 .5em;
}


.case-studies {
    width: 100%;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;
    flex-wrap: wrap;
}

.case-box {
    width: 30%;
    float: left;
    background-color: rgb(78, 137, 248);
}

.case-box img {
    width: 100%;
}

.case-box p {
    line-height: 1.6em;
}
.case-box h3, .case-box p {
    padding: 0px 15px;
}

.case-heading {
    flex-basis: 100%;
    font-size: 2em;
    text-align: center;

}